> This blog post is part of the **From any OS to Azure with ASP.NET Core** series. <br/>
> - [Introduction](/2017/01/11/from-anyos-to-azure-with-dotnet-core-introduction) <br/>
> - [Part #1: A minimal setup](/2017/01/12/from-anyos-to-azure-with-dotnet-core-minimal-setup) <br/>
> - [Part #2: Environment, Logging and Swagger](/2017/01/12/2017-01-13-from-anyos-to-azure-with-dotnet-core-env-swagger-logging) <br/>
> - [Part #3: Our first endpoints](/) <br/>
> - [Part #4: The domain around game sessions](/) <br/>
> - [Part #5: Exposing our domain through an API](/) <br/>
> - [Part #6: Deploying it to Azure](/) <br/>