<a href="https://aptakube.com?utm_source=goenning-net" class="aptakube">
    <div class="ribbon">
        <div>New!</div>
    </div>
    <div class="head">
        <img alt="Aptakube" src="https://avatars.githubusercontent.com/u/108651742?s=80" />
        <span>
        <span class="title">Aptakube</span> {% if include.lang == "en" %}for{% else %}para{% endif %} Kubernetes
        </span>
    </div>
    <div class="body">
        {% if include.lang == "en" %}
        Aptakube is a modern, lightweight and multi-cluster Kubernetes desktop client. <br /> Available on Windows, macOS and Linux.
        <span class="learn-more">Learn more →</span>
        {% else %}
        Cliente de desktop moderno, leve e multi-cluster para o Kubernetes. <br /> Disponível em Windows, macOS e Linux.
        <span class="learn-more">Veja mais →</span>
        {% endif %}
    </div>
</a>