<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

{% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
{% endif %}

{% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
{% else %}
    <meta property="twitter:title" content="{{ site.name }}" />
    <meta property="og:title" content="{{ site.name }}" />
{% endif %}

{% if page.cover %}
    <meta property="og:image" content="{{ site.url }}{{ page.cover }}" />
    <meta property="twitter:image" content="{{ site.url }}{{ page.cover }}" />
{% else %}
    <meta property="og:image" content="{{ site.avatar }}" />
    <meta property="twitter:image" content="{{ site.avatar }}" />
{% endif %}

<meta name="author" content="{{ site.name }}" />

<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="{{ page.lang }}" />

<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@goenning" />