<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="gravatar">
      <img src="{{ site.gravatar }}"/>
    </div>
    <p>Welcome to my blog!</p>
    <p>I'm Guilherme Oenning, a passionate software developer living in Brazil. Blogging mostly about node.js, but I've done plenty of C# and Java code before.</p>
    <p>Avid practitioner of Test-Driven Development and currently learning Docker and TypeScript.</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="/">Home</a>

    {% assign pages_list = site.pages | sort : "url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item social-bar">
    <a class="twitter" href="https://twitter.com/goenning" title="@goenning" target="_blank"></a>
    <a class="stackoverflow" href="http://stackoverflow.com/users/396119/goenning" title="@goenning" target="_blank"></a>
    <a class="github" href="https://github.com/goenning" title="@goenning" target="_blank"></a>
    <a class="npm" href="http://npmjs.com/~goenning" title="@goenning" target="_blank"></a>
  </div>
</div>