{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" aria-label="Email" target="_blank" rel="noopener"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" aria-label="GitHub" target="_blank" rel="noopener"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" aria-label="LinkedIn" target="_blank" rel="noopener"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml" aria-label="RSS Feed" target="_blank" rel="noopener"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" aria-label="Twitter" target="_blank" rel="noopener"><i class="svg-icon twitter"></i></a>{% endif %}



