h1.site-name {
  margin-bottom:10px;
}

h1 {
  font-size: 1.5em;
}

.flag {
  display: inline-block;
  width: 26px;
  margin-left: 4px;
}

#main > .post {
  h1 {
    font-size: 2.5em;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.fb_iframe_widget span {
   top: -6px;
}

.post {
  h2, h3 {
    padding-bottom: 5px;
    margin-bottom: 0.5rem !important;
    border-bottom: 1px solid #ddd !important;
  }

  table {
    thead {
      font-weight: bold;
      padding-bottom: 2px;
      border-bottom: 2px solid black;
    }
    tfoot {
      font-weight: bold;
    }
    td, th {
      padding: 2px 5px;
    }
  }

  .entry {
    margin-bottom: 60px;
  }
}

.left {
  float:left;
  margin-right: 10px;
}

.posts article.post {
  display: inline-block;
}

.archive-post-date {
  color: #9a9a9a;
  font-size: 12px;
}

.site-tag {
  a {
    margin: 2px;
    padding: 5px;
    display: block;
    display: inline-block;
    background-color: #eee;
    &:hover {
      background-color: #ddd;
    }
  }
}