h1.site-name {
  margin-bottom:10px;
}

h1 {
  font-size: 1.5em;
}

.flag {
  display: inline-block;
  width: 48px;
  padding: 8px;
}

#main > .post {
  h1 {
    font-size: 2.5em;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.fb_iframe_widget span {
   top: -6px;
}

.post {
  h2, h3 {
    padding-bottom: 5px;
    margin-bottom: 0.5rem !important;
    border-bottom: 1px solid #ddd !important;
  }

  table {
    thead {
      font-weight: bold;
      padding-bottom: 2px;
      border-bottom: 2px solid black;
    }
    tfoot {
      font-weight: bold;
    }
    td, th {
      padding: 2px 5px;
    }
  }

  .entry {
    margin-bottom: 60px;
  }

  .like {
    display: flex;
    align-items: center;

    button {
      margin-left: 12px;
    }
  }
}

.left {
  float:left;
  margin-right: 10px;
}

.posts article.post {
  display: inline-block;
}

.archive-post-date {
  color: #9a9a9a;
  font-size: 12px;
}

.site-tag {
  a {
    margin: 2px;
    padding: 5px;
    display: block;
    display: inline-block;
    background-color: #eee;
    &:hover {
      background-color: #ddd;
    }
  }
  &.count-1 { font-size: 80%; }
  &.count-2 { font-size: 85%; }
  &.count-3 { font-size: 90%; }
  &.count-4 { font-size: 95%; }
  &.count-5 { font-size: 100%; }
  &.count-6 { font-size: 105%; }
  &.count-7 { font-size: 110%; }
  &.count-8 { font-size: 115%; }
  &.count-9 { font-size: 120%; }
  &.count-10 { font-size: 125%; }
  &.count-11 { font-size: 130%; }
  &.count-12 { font-size: 135%; }
  &.count-13 { font-size: 140%; }
  &.count-14 { font-size: 145%; }
  &.count-15 { font-size: 150%; }
  &.count-16 { font-size: 155%; }
  &.count-17 { font-size: 160%; }
  &.count-18 { font-size: 165%; }
  &.count-19 { font-size: 170%; }
  &.count-20 { font-size: 175%; }
}

.projects-list {
  h4 {
    margin-bottom: 0;

    a {
      font-size: 14px;
    }
  }

  li {
    margin-bottom: 40px;

    span {
      margin: 4px 0;
      display: block;
    }

    a.github {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      align-items: center;
  
      svg {
        margin-right: 10px;
        width: 18px;
      }
    }
  }
}