
//
// VARIABLES
//

// Colors
$blue: #3273dc;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$codeColor: #1a1a1a;
$codeBg: rgba(255, 229, 100, 0.1);

// Font stacks
$defaultFont: Camphor,Open Sans,Segoe UI,sans-serif;
$codeFont: Consolas,Menlo,Monaco,source-code-pro,Courier New,monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}