---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="404 · Guilherme Oenning">
  <h1 class="text-4xl font-medium tracking-tight">404 😢</h1>

  <section class="prose lg:prose-lg prose-invert mt-4">
    <p>
      This page does not exist or has been removed. <br /> Find more posts on my

      <a href="/blog">blog</a>.
    </p>
  </section>
</SiteLayout>
