---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Blog · Guilherme Oenning">
  <h1 class="text-2xl font-medium tracking-tight">let's work together!</h1>
  <section class="prose lg:prose-lg prose-invert prose-li:my-0 mt-4">
    <p>
      If you have an exciting project and are interested in collaborating with
      me, don't hesitate to <a href="mailto:me@goenning.net">reach out</a>. Some
      of the things I can help you with:
    </p>
    <ul>
      <li>AWS, Azure, Kubernetes</li>
      <li>DevOps, CI/CD, Infra as Code</li>
      <li>Technical Leadership</li>
      <li>React, TypeScript, C#, Go, Rust</li>
    </ul>
    <p>I'm based in Ireland 🇮🇪 and open to remote contracts only.</p>
  </section>
</SiteLayout>
