---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Guilherme Oenning">
  <h1 class="text-2xl font-medium tracking-tight">Hi, I'm goenning 👋</h1>

  <section class="prose lg:prose-lg prose-invert">
    <div class="sm:float-right sm:ml-4">
      <img
        src="/goenning.png"
        alt="goenning"
        class="rounded-full w-28 border-2"
      />
    </div>
    <p>
      I'm a software developer passionate about the <span
        class="text-yellow-400">intersection of development and operations</span
      >. My area of interest and expertise includes Kubernetes, AWS,
      Infrastructure as Code, CI/CD, Developer Experience, Go, C# and much more.
    </p>
    <p>
      I work as a <a href="/hire"
        >contractor<a></a> helping companies migrate, build and scale their
        cloud operations. When not coding, you'll find me running, cycling or
        swimming — sometimes all at once.
      </a>

      <h4 class="text-xl font-medium tracking-tight">Recent posts</h4>

      <h4 class="text-xl font-medium tracking-tight">Side Projects</h4>
    </p>
  </section>
</SiteLayout>
