---
import SiteLayout from "../layouts/SiteLayout.astro";
import SideProjects from "../components/SideProjects.astro";
---

<SiteLayout title="goenning">
  <h1 class="text-2xl font-medium tracking-tight">Hi, I'm goenning 👋</h1>

  <section class="prose lg:prose-lg prose-invert mt-4">
    <div class="sm:float-right sm:ml-4">
      <img
        src="/goenning.png"
        alt="goenning"
        class="rounded-full w-28 border-2"
      />
    </div>
    <p>
      I'm a software developer passionate about the <span
        class="text-yellow-400">intersection of development and operations</span
      >. My area of interest and expertise includes Kubernetes, AWS, Infra as
      Code, CI/CD, Developer Experience, Go, C#, React and much more.
    </p>
    <p>
      I work as a <a href="/hire"
        >contractor<a></a> helping companies build and scale cloud native
        applications. When I'm not coding, you'll find me running, cycling or
        swimming — sometimes all at once.
      </a>

      <p class="text-base">
        Find me on <a
          href="https://www.linkedin.com/in/goenning"
          target="_blank">LinkedIn</a
        >
         and <a href="https://github.com/goenning" target="_blank">GitHub</a>.
      </p>

      <h4 class="text-xl font-medium tracking-tight">side projects</h4>
      <SideProjects />
    </p>
  </section>
</SiteLayout>
