---

---

<ul>
  <li>
    <p>
      <a href="https://aptakube.com" target="_blank">Aptakube</a> is a fast,
      modern and multi-cluster desktop client for Kubernetes. I love using CLI
      for automation and scripting, but I prefer GUI apps for read heavy and
      adhoc tasks.
    </p>
  </li>

  <li>
    <p>
      <a href="https://seogets.com" target="_blank">SEO Gets</a
      > is a better version of Google Search Console (much better!). 
      Minimalist, simple to use, distraction free. Reports are pre-generated based on the most important metrics so you get all the insights you need without having to dig through the data.
    </p>
  </li>

  <li>
    <p>
      <a href="https://openports.app" target="_blank">OpenPorts for macOS</a> is a simple and easy to use port scanner for macOS. It's a native app and lives in the menu bar.
    </p>
  </li>

  <li>
    <p>
      <a href="https://aptabase.com" target="_blank">Aptabase</a
      > — acquired in 2024.
    </p>
  </li>
</ul>
