---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <small>
    {% include post_date.html lang=page.lang date=page.date %}
    {% include post_read_time.html lang=page.lang content=page.content %}
    {% include post_tags.html lang=page.lang tags=page.tags %}
  </small>

  <div class="entry">
    {{ content }}
  </div>

  <p class="like">
    <span>Did you like this post?</span>
    <script data-icon="heart" defer src="https://vulkanizer.herokuapp.com/js/sdk-like.js"></script>
  </p>
  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+by+@goenning&url={{ page.url | absolute_url | url_encode }}">Discuss on Twitter</a> <small>•</small> <a href="https://github.com/goenning/goenning.github.io/tree/master/{{ page.path }}">Edit on GitHub</a>
</article>
